name: 'delete aws resources'

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to delete the AWS Stack in'
        type: environment
        required: true

jobs:
  delete-aws-infrastructure:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
    - run: |
        aws cloudformation delete-stack \
          --stack-name datadog-sales-training-setup \
          --region us-east-1
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}